@page
@model SODP.UI.Areas.Projects.Pages.CreateUpdateModel
@{
}

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">@(Model.Project.Id == null ? "Nowy projekt" : "Edycja projektu")</h2>
    </div>
</div>
<div class="container border" style="padding:30px;">
    <form method="post">
        @if (@Model.ErrorMessage.Length > 0)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Błąd</h4>
                <p>@Model.ErrorMessage</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <input type="hidden" asp-for="Project.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Project.Number" class="form-control" readonly="@(Model.Project.Id == null ? false : true)" />
            </div>
            <span asp-validation-for="Project.Number" style="font-size:14px" class="text-danger" ></span>
        </div>

        @if (Model.Project.Id == null)
        {
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    @Html.DropDownListFor(model => model.Project.StageSign, @Model.Stages, "-- Stadium --", new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Project.StageSign" style="font-size:14px" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    <input asp-for="Project.StageSign" class="form-control" readonly="@(true)" />
                </div>
            </div>

        }

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Project.Title" class="form-control" placeholder="Tytuł" />
            </div>
            <span asp-validation-for="Project.Title" style="font-size:14px" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)"></textarea>
            </div>
        </div>
        <div class="form-group row col-12 col-md-7 justify-content-center">
            <div class="col-6">
                <input type="submit" value="Zapisz" class="btn btn-primary form-control justify-content-center" />
            </div>
            <div class="col-6">
                <a asp-page="Index" class="btn btn-success form-control justify-content-center">Powrót</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}