@page
@model SODP.UI.Areas.Projects.Pages.CreateUpdateModel
@{
}

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">@(Model.Project.Id == null ? "Nowy projekt" : "Edycja projektu")</h2>
    </div>
</div>
<div class="container border" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Project.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Project.Number" class="form-control" readonly="@(Model.Project.Id == null ? false : true)" />
            </div>
            <span asp-validation-for="Project.Number" style="font-size:14px" class="text-danger" ></span>
        </div>

        @if (Model.Project.Id == null)
        {
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    @Html.DropDownListFor(model => model.Project.StageSign, @Model.Stages, "-- Stadium --", new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Project.StageSign" style="font-size:14px" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    <input asp-for="Project.StageSign" class="form-control" readonly="@(true)" />
                </div>
            </div>

        }

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Project.Title" class="form-control" placeholder="Tytuł" />
            </div>
            <span asp-validation-for="Project.Title" style="font-size:14px" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-md-7">
                <partial name="_SubmitAndBackButtonPartial" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}