@page
@model SODP.UI.Pages.Projects.CreateUpdateModel
@{
}


<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">@(Model.Input.Id.Equals(0) ? "Nowy projekt" : "Edycja projektu")</h2>
    </div>
</div>
<div class="container border" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Input.Number" class="form-control" readonly="@(Model.Input.Id.Equals(0) ? false : true)" placeholder="Numer" />
            </div>
            <span asp-validation-for="Input.Number" style="font-size:14px" class="text-danger"></span>
        </div>

        @if (Model.Input.Id.Equals(0))
        {
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    @Html.DropDownListFor(model => model.Input.Stage.Id, @Model.Stages, "-- Stadium --", new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Input.Stage.Id" style="font-size:14px" class="text-danger"></span>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="Input.Stage.Id" />
            <div class="form-group row">
                <div class="col-12 col-md-7">
                    <input asp-for="Input.Stage.Title" class="form-control" readonly="@(true)" />
                </div>
            </div>

        }

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="Input.Title" class="form-control" placeholder="Tytuł" />
            </div>
            <span asp-validation-for="Input.Title" style="font-size:14px" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <textarea asp-for="Input.Description" class="form-control" placeholder="Opis (opcjonalny)"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-md-7">
                <partial name="_SubmitAndBackButtonPartial" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}